user-setup-udeb passwd/user-fullname string Cluster Administrator
user-setup-udeb passwd/username string CLUSTER_ADMIN
# Generate crypted password with: mkpasswd -m sha-512
user-setup-udeb passwd/user-password-crypted password $6$RmncoJCA$VhgqC4LpZZvaZDzeR3CZRTqRz.QvM.Bp7VApIiyAKguIcSPMAkfdpuhAjOB2ckDFwNkSNKGvEcC5OQwwWBwvj.
